.Practice-Box {
  text-align: center;
}

.display-box {
  a span div {
    margin: 0 10px;
  }
  div {
    display: inline-block;
    background-color: yellow;
    width: 100px;
  }
}

@mixin theme($color: red, $hover-color: red) {
  margin: 10px;
  border-radius: 5px;
  background-color: $color;
  color: white;
  transition: background-color 0.3s linear;
  &:hover {
    background-color: $hover-color;
    color: white;
    cursor: pointer;
  }
}

.scss-button-blue {
  @include theme($color: blue);
  ~ button {
    @include theme($color: green);
  }
}

//selector-button-blue, green
.selector-button {
  @include theme;
  &.blue {
    @include theme($color: blue);
  }
  &.green {
    @include theme($color: green);
  }
  &:hover {
    @include theme;
    cursor: pointer;
  }
}

.position-message-1 {
  display: flex;
  position: relative;
  background-color: blue;
  padding: 10px;
  color: white;
  border-radius: 10px;
  &::after {
    content: '';
    position: absolute;
    background-color: red;
    top: 50%;
    left: 20px;
  }
}

.position-box {
  > div {
    display: flex;
    justify-content: center;
  }
}
