main {
  display: flex;
  flex-direction: column;
}

h3 {
  text-align: center;
  margin: 5px;
}

main > ul > li > a {
  font-size: 0.8em;
  &:hover {
    color: var(--background-pink);
  }
}

.Contents-Container > p {
  border: black 1px solid;
  padding: 0 5px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  margin: 0 10px;
  font-weight: 300;
}

.Contents-Container {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    min-width: fit-content;
  }
}

.pointer {
  cursor: pointer;
}

.a-action:link {
  text-decoration: none;
  border: #9198e5 1px solid;
  border-radius: 5px;
  padding: 3px 10px;
  box-shadow: var(--box-shadow);
}

.a-action:active {
  background-color: var(--background-pink);
  color: white;
}

.structural-container {
  margin-left: 0;
}

.structural-container > p {
  font-size: 0.8em;
}

.contents-title {
  text-align: center;
}
