:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  background: linear-gradient(#e66465, #9198e5);
  --maxWidth: 48px;
  --padding: 10px;
}

main .Container {
  margin: 100px;
  background: white;
  border-radius: 10px;
  min-height: calc(100vh - var(--maxWidth));
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

.Container:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

ul li a {
  font-size: 25px;
}

ul li a:active {
  color: yellow;
}

ul li a:link {
  text-decoration: none;
  color: black;
}

ul li a:visited {
  color: black;
}

ul li a:hover {
  background-color: linear-gradient(#e66465, #9198e5);
}
